@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: #22c1c3 !important;
  background-image: linear-gradient(0deg, #22c1c3 0%, #439de1 100%) !important;
  height: 100%;
  background-size: 100% 110%;
  background-repeat: no-repeat !important;
}

.card {
  @apply rounded-md;
}